.main-navigation {
	label {
		color: $white;
		font-size: 2rem;
	}
	input[type='checkbox'] {
		display: none;
		position: absolute;

		& + nav {
			background: $black;
			position: fixed;
			width: 100%;
			left: 100vw;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: left $fast;
			z-index: 90;
			ul {
				list-style-type: none;
				li {
					text-align: center;
					margin-top: 15px;
					margin-bottom: 15px;
					a {
						font-style: italic;
						text-decoration: none;
						font-size: 2.2rem;
						color: $white;
						font-weight: 700;
					}
					&.highlight {
						display: none; //added for the action page to be not reachable
						background: $bmw-blue;
						padding: 1rem 2.5rem;
						border-radius: 3px;
						a {
							color: white;
						}
					}
				}
			}
		}
		&:checked + nav {
			left: 0;
		}
	}
	@include breakpoint(phablet) {
		label {
			display: none;
		}
		input[type='checkbox'] {
			& + nav {
				position: relative;
				background: $white;
				height: auto;
				left: 0;
				ul {
					li {
						display: inline-block;
						margin: 0 20px;
						&:first-of-type {
							margin-left: 0;
						}
						&:last-of-type {
							margin-right: 0;
						}
						a {
							color: $black;
							font-size: 1.8rem;
							position: relative;
							z-index: 2;
							display: inline-block;
							text-transform: uppercase;
							&:after {
								content: '';
								display: block;
								position: absolute;
								bottom: 3px;
								left: 0;
								z-index: -1;
								width: 0;
								height: 6px;
								-webkit-transition: all 200ms ease-in-out;
								transition: all 200ms ease-in-out;
								background-color: $pink;
								opacity: 0;
								visibility: hidden;
							}
							&:hover:after {
								width: 100%;
								opacity: 1;
								visibility: visible;
							}
						}
						&.highlight {
							a:hover:after {
								opacity: 0;
								visibility: hidden;
							}
						}
					}
				}
			}
		}
	}
}
