.row {
  .emphasized {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: $default-padding;
    .image {
      width: 100%;
      display: block;
      max-width: 600px;
    }
    .text-block {
      &.highlight {
        background: $grey;
      }
      .text-container {
        padding-left: $default-margin;
        padding-right: $default-margin;
        padding-top: 6rem;
        padding-bottom: 6rem;
        width: calc(100% - (#{$default-margin}* 2));

        h2 {
          font-size: 3.6rem;
          text-transform: uppercase;
          font-style: italic;
          font-weight: 700;
          letter-spacing: 0.064rem;
          line-height: 1.1;
          margin-bottom: 0.8rem;
        }
        p {
          letter-spacing: 0.04rem;
          line-height: 1.5;
          margin-bottom: 1rem;
        }
        .button {
          margin-top: 2.3rem;
          display: inline-block;
          font-family: "Roboto Condensed", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 2.1rem;
          font-weight: 700;
          font-style: italic;
          padding: 1rem 5rem;
        }
      }
    }
    @include breakpoint(phablet) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      .text-block {
        width: 80rem;
        padding: 80px 60px;
        padding-right: 320px;
        margin-right: -300px;
        .text-container {
          padding: 0;
        }
      }
    }
  }
}
