$width: 300px;

html body .logo {
	max-width: $width;
	display: flex;
	align-items: center;
	img {
		width: 200px;
		filter: invert(100%);

		@include breakpoint(phablet) {
			width: $width;
			filter: invert(0%);
		}
	}
}
