.lessons {
	@include breakpoint(phablet) {
		.row:nth-of-type(odd) {
			.emphasized {
				flex-direction: row-reverse;
				.text-block {
					margin-right: 0;
					padding-right: 0;
					margin-left: -320px;
					padding-left: 380px;
				}
			}
		}
	}
	.price-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.8rem;
		margin-top: 3.2rem;
		.price {
			font-size: 3rem;
			line-height: 1.1;
			font-weight: bold;
		}
	}
}
