.about {
  .row {
    .container {
      .image-container {
        position: relative;
        h3 {
          position: absolute;
          background: $purple;
          padding: 1.5rem;
          color: white;
          left: 0;
          bottom: 0;
        }
        .image {
          width: 100%;
          display: block;
        }
      }
      .hero-container {
        .text-container {
          p {
            padding: $default-margin;
            line-height: 1.5;
          }
        }
      }
      .mission-container {
        .text-container {
          background: $grey;
          padding: $default-margin;
          p {
            line-height: 1.5;
          }
        }
      }
    }
  }
  @include breakpoint(phablet) {
    .row {
      .container {
        align-items: flex-start;
        .image-container {
          position: relative;
          h3 {
            position: absolute;
            background: $purple;
            padding: 1.5rem;
            color: white;
            left: 0;
            bottom: 0;
          }
          .image {
            width: 100%;
            display: block;
          }
        }
        .hero-container {
          .text-container {
            p {
              padding: $default-padding;
              line-height: 1.8;
            }
          }
        }
        .mission-container {
          & > * {
            padding: 60px;
          }
          .text-container {
            background: $grey;
            padding: $default-padding;
            p {
              line-height: 1.8;
            }
          }
          blockquote + p {
            padding-top: 0;
          }
        }
      }
    }
  }
}
