$default-margin: 30px;
$default-padding: 45px;

// Michael color
$black: #1a1e24;
$white: #fff;
$grey: #f3f7fa;
$terquoise: #02ffd2;
$purple: #9108db; // old color ce14f7
$yellow: #f8ff31;
$green: #3df613;
$pink: #ff70a6;
$red: #790000;
$bmw-blue: #4599fe;

//Gina color
// $grey: #f6e0a4;
// $purple: #c6910f;

// transition

$fast: 0.1s;

// color options: 9108DB,
